<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Song_Thrush_Turdus_philomelos.jpg" class="card-img-top" alt="photo">
  <div class="card-body">
    <h5 class="card-title">admin</h5>
    <p class="card-text">lubię obserwować przyrodę</p>
  </div>
</div>