<ModalDialog @translucentOverlay={{true}}>
  <h2>Observation has been added!</h2>
  <div class='modal-btns'>
    <button
      type='button'
      class='btn btn-success'
      {{on 'click' this.stayOnAddObservationSide}}
    >Add another observation</button>
    <button
      type='button'
      class='btn btn-secondary'
      {{on 'click' this.transitionToUserProfile}}
    >My observations list</button>
  </div>
</ModalDialog>