<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Birdname</th>
      <th scope='col'>Observator</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.currentMapObservations as |observation|}}
      <tr>
        <td>{{moment-format observation.observationDate 'DD-MM-YYYY'}}</td>
        <td>{{observation.birdname}}</td>
        <td>{{observation.owner.username}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>