<ul class='nav'>
  <li class='nav-item'>
    <LinkTo @route='/' class='nav-link'>Home</LinkTo>
  </li>
  <li class='nav-item'>
    <LinkTo @route='user' class='nav-link'>Profile</LinkTo>
  </li>
  <li class='nav-item'>
    <LinkTo @route='observation' class='nav-link'>Add obeservation</LinkTo>
  </li>
</ul>