<ul class='nav'>
  <li class='nav-item'>
    <LinkTo @route='home.index' class='nav-link'>Home</LinkTo>
  </li>
  <li class='nav-item'>
    <LinkTo @route='home.user' class='nav-link'>Profile</LinkTo>
  </li>
  <li class='nav-item'>
    <LinkTo @route='home.observations' class='nav-link'>Observations</LinkTo>
  </li>
  <li class='nav-item'>
    <LinkTo @route='home.add-observation' class='nav-link'>Add obeservation</LinkTo>
  </li>
  <li class='nav-item'>
    <span
      role='button'
      class='nav-link'
      {{on 'click' this.onLogout}}
    >Logout</span>
  </li>
</ul>