<ModalDialog @translucentOverlay={{true}}>
  <h2
    style='text-align: center; margin-top: 10px; margin-left:18px; margin-right:18px'
  >Delete this observation?</h2>
  <div style='text-align: center; margin-bottom: 10px; margin-top:5px'>
    <button
      type='button'
      class='btn btn-success'
      {{on 'click' this.deleteObservation}}
    >✔</button>
    <button
      type='button'
      class='btn btn-danger'
      style='margin-left: 5px'
      {{on 'click' this.hideModal}}
    >✖</button>
  </div>
</ModalDialog>