<div class="card mx-auto" style="width: 18rem; margin-top: 30px;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Song_Thrush_Turdus_philomelos.jpg" class="card-img-top" alt="photo">
  <div class="card-body">
    <h5 class="card-title">Pan Drozd</h5>
    <p class="card-text">lubię obserwować pitooooszki</p>
  </div>
</div>